.InfoL, .InfoR {
    padding: 10px;
  }
  
  .info-main {
    display: flex;
    justify-content: space-between; 
  }
  .InfoL {
    flex: 0 0 20%; /* Chiếm 30% chiều rộng */
  }
  
  .InfoR {
    flex: 0 0 80%; /* Chiếm 70% chiều rộng */
  }