.login-container {
    display: flex;
    height: 100vh;
  }
  
  .login-left {
    flex: 1;
    background-color: #144d5c;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    width: 150px;
    height: auto;
  }
  
  .login-right {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .login-button {
    background-color: #144d5c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .guest-button {
    background-color: transparent;
    color: #144d5c;
    padding: 10px 20px;
    border: 1px solid #144d5c;
    border-radius: 5px;
    cursor: pointer;
  }
  