/* Font chữ chính */
body {
  font-family: 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial', sans-serif;
}

p, span, a {
  font-family: 'Arial', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

.main {
  display: flex;
  flex-grow: 1;
}

