/* Font chữ chính */
body {
  font-family: 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial', sans-serif;
}

p, span, a {
  font-family: 'Arial', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

.main {
  display: flex;
  flex-grow: 1;
  justify-content: space-between; /* Đảm bảo các phần tử được chia đều không gian */
}

.InfoL, .InfoR {
  padding: 10px;
}

.InfoL {
  flex: 0 0 20%; /* Chiếm 30% chiều rộng */
}

.InfoR {
  flex: 0 0 80%; /* Chiếm 70% chiều rộng */
}

