/* Font chữ chính */
body {
  font-family: 'Arial', sans-serif;
  font-size: 14px !important;

  
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial', sans-serif;
}

p, span, a {
  font-family: 'Arial', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  
  /* Cho phép cuộn ngang và dọc */
}

.InfoL, .InfoR {
  padding: 10px;
}

.InfoL {
  flex: 0 0 20%; /* Chiếm 20% chiều rộng */
}

.InfoR {
  flex: 0 0 80%; /* Chiếm 80% chiều rộng */
}
